<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: #04aa6d;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/editUser">Update user</a></li>
    </ul>

    <div style="padding:20px;margin-top:30px;height:10px;"></div>
        <form style="display: grid;justify-content: center;" action="/edit-user" method="POST">
            <input type="hidden" name="id" value="<%= viewEditUser.ID %>"/>
            <label for="name">Name:</label><br />
            <input type="text" id="name" name="name" value="<%= viewEditUser.NAME %> "/><br />
            <label for="email">Email:</label><br />
            <input type="text" id="email" name="email"  value="<%= viewEditUser.EMAIL %> "/><br />
            <label for="city">City:</label><br />
            <input type="text" id="city" name="city" value="<%= viewEditUser.CITY %> "/>
            <button>Lưu</button>
        </form>
    </div>
  </body>
</html>
